<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>TheYams</title>
  <meta name="author" content="SitePoint">
  <meta name="MobileOptimized" content="320">
  <meta name="HandheldFriendly" content="True">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="description" content="TheYams">
  <meta name="keywords" content="TheYams">

  <link href="./style.css" rel="stylesheet" type="text/css" />

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<body>
  <div class="container">
    <p>
    For people who are enlivened by art, inspired by the underground, and long for the days when you had time for crate digging, zine reading, and keeping up with the Internet, we created The Yams: a new service that gives you content recommendations you can’t get anywhere else.
    </p>

    <p>
    Why? We believe that life is too short for mediocrity. Deciding what to listen to, read, or watch is too important to leave solely in the hands of technology companies, algorithms, social feeds, and whatever mainstream media is peddling.
    </p>

    <p>And we know that talking to humans - humans who know their shit and have impeccable taste - is still the best way to find the good stuff.</p>

    <p>
    If this sounds like something you’d like to be part of, <a href="mailto:https://sayhi@theyams.com?subject=Saying Hi">say hi here</a>.
    </p>

    <p>
    Love,
    <br>
    The Yams
    </p>
    <div class="form">
      <form action="/emails" method="POST" enctype="text/plain">
        <!-- Name:<br> -->
        <input class="textbox textbox-success" type="text" name="name" placeholder="name"><br>
        <!-- E-mail:<br> -->
        <input class="textbox" type="text" name="email" placeholder="email"><br>
        <input class="button" type="submit" value="Submit">
      </form>
    </div>
  </div>
</body>
</html>
