.container {
 background-color: rgb(242, 242, 242);
 color: rgb(28, 29, 23);
 font-family: courier;
 font-size: 20px;
 /* margin: 25px auto; */
 margin: 50px 20%;
}

.form {
  display: none;
  margin: 0 auto;
  width: 400px;
}

.textbox {
 position: fixed;
 height: 25px;
 width: 275px;
}


body{
 background-color: rgb(242, 242, 242);
}
